html, body, .container {
    background-color: #666;
}

header {
    background-color: #333;
    color: #fff;
}

h2 {
    color: #fff;
}

.gameOption {
    background-color: #fff;
    border: #666 10px solid;
    text-align: center;
}

.gameOption img {
    margin: auto;
    max-height: 200px;
    max-width: 100%;
}

.gameOption.win {
    border-color: lime;
}

.gameOption.draw {
    border-color: yellow;
}

.gameOption.lose {
    border-color: red;
}

.status {
    background-color: aqua;
    margin-bottom: 40px;
    padding-top: 10px;
}

.status h2 {
    color: #000;
    text-align: center;
}
